body {
  background-color: #01113e;
  font-family: "Cascadia Mono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mr Browser*/

.browser-window {
  width: 100%;
  max-width: 960px;
  background: #000080;
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 2px 2px 0 #000;
}

/*Title bar*/
.title-bar {
  color: #000080;
  color: #fff;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
} 

/*Menu-bar*/
.menu-bar {
  background: #c0c0c0;
  padding: 2px 6px;
  display: flex;
  gap: 2px;
  border-bottom: 1px solid #808080;

}

.menu-bar span{
  padding: 2px 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: default;
  font-family: "Cascadia Mono", sans-serif;
}

.menu-bar span:hover{
  background: #000080;
  color: #fff;

}

.toolbar {
  background: #c0c0c0;
  padding: 6px 10px;
  display: flex;
  gap: 18px;
  align-items: center;
  border-bottom: 2px solid #808080;
}

.toolbar-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2px;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  min-width: 40px;
}

.toolbar-btn .icon{
  font-size: 22px;
  line-height: 1;
}

.toolbar-btn:hover .label {
text-decoration: underline;
}

/*Content Area*/
.content-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  min-height: 500px;
}

/*left stuffs*/
.left-col {
  background: #f0f0f0;
  padding: 36px 32px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
}

.welcome-label {
  display: inline-block;
  background: #000080;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 3px 10px;
  letter-spacing: 0.5px;
  width:fit-content;
  margin-bottom: 4px;
}

.big-name {
  font-family: 'Arial Black', 'Arial', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: clamp(52px, 8vw, 80px);
  color: #000;
  line-height: 0.95;
  letter-spacing: -1px;
  margin-top: 8px;
}

.info-box {
  background: #ffffff;
  border: 2px solid #000080;
  width: 100%;
  max-width: 360px;
  margin-top: 8px;
}

.info-box-title {
  background: #000080;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  padding: 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-box-title .close-btn {
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  line-height: 1;
}

.info-box-body {
  padding: 14px 14px 18px 14px;
  font-size: 13px;
  color: #000;
  font-family: "Cascadia Mono", sans-serif;
}

.right-col {
  background: #b8c8e8;
  padding: 36px 40px 40px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px
}

.help-box {
  background: #ffffff;
  border: 2px solid #000080;
  
  width: 100%;
  max-width: 340px;
  align-self: flex-end;
}
