body {
  margin: 0;
  display: flex;             
  justify-content: center;   
  align-items: center;             
  background-color: #01113e; 
  font-family: sans-serif;
}

h1 {
  color: #01113e;
}

p {
  color: #01113e;
}

.container-box {
  padding: 30px;
  width: 90%;
  background-color: #dbdbdd;
  border: 2px solid #dbdbdd;  
  border-radius: 0px;      
  text-align: center;
  
}
